body {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.login-sign-in {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 15%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.title {
    grid-row: 1;
}


#username {
    grid-row: 2;
}

#password {
    grid-row: 3;
}

#confirm-password {
    grid-row: 4;
}

.top-button {
    grid-row: 5;
}

.bottom-button {
    grid-row: 6;
}